<% console.log(locals.user.id) %>
<% if(fileSystemEntries.length > 0){ fileSystemEntries.map(fileSystemEntry => { %>
    <div class="entry">
        <a href="/user/<%= user.id %>/<%= fileSystemEntry.id %>"><%=fileSystemEntry.name %></a>
        <div>Created: <%= fileSystemEntry.createdAt.toLocaleString() %></div>
        <div>Modified: <%= fileSystemEntry.updatedAt.toLocaleString() %></div>
    </div>
<% }) %>
<% }else{ %>
    <h3>Nothing found</h3>
<% } %> 