<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome back, <%= locals.user.username %></h1>
    <%- include("partials/folders", {folders: folders}) %>
    <%- include("partials/files", {files: files}) %>
    <%- include("partials/newFolder") %>
    <%- include("partials/newFile") %>
    <%- include("partials/logout") %>
</body>
</html>